body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

  margin: 0;
  padding: 0;
  overflow-x: scroll;
  width: 100vw;
}

a {
  text-decoration: none;
}

button {
  height: 25px;
}

code {
  font-family: monospace;
  font-size: 1.05em;
  font-weight: 600;
}

header > h1 {
  text-align: center;
  width: 100%;
  height: 50px;
  background-color: #333;
  color: #fafafa;
}

header > p {
  margin-left: 30px;
  font-size: 1.15em;
}

main {
  margin: 30px;
}

section > ul {
  margin-left: 50px;
}
section > div {
  margin-left: 50px;
}

h2 > a {
  opacity: 0;
}
h2:hover > a {
  opacity: 1;
}

h3 > a {
  opacity: 0;
}

h3:hover > a {
  opacity: 1;
}

div#mouse-hover-zone {
  height: 300px;
  width: 300px;
  border: 1px solid #333;
  background-color: #e0e0e0;
}

footer {
  margin: 30px;
}

footer > p {
  font-size: 1.15em;
  font-weight: 600;
}
footer > ul {
  margin-left: 30px;
}

footer > ul > li {
  margin: 8px 0px;
  font-size: 1.07em;
  font-weight: 600;
}

div#follow-me {
  display: flex;
  align-items: center;
  justify-content: space-around;

  height: 150px;
  width: 100%;
  background-color: #e9e9e9;
  color: #fafafa;
  margin: 0;
  padding: 0;
}

div#follow-me img {
  height: 40px;
  width: 40px;
  object-fit: contain;
}

div#follow-me a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div#follow-me a p {
  font-size: 1.04em;
  font-weight: 600;
  color: #333;
}
